<div class="grid-card">

    <span class="tag-text">Beginner, A1-A2</span>

    <div class="card-content">

        <div class="main-part">
            <div class="place-for-image">
            </div>
            
            <h4>Англійська для початківців </h4>

            <a href="#">Дізнатися більше</a>
        </div>

        <a href="#" class="btn">Записатись на консультацію</a>
    </div>
    <div class="card-content onhover-elements">
       <div class="main-part service-content">
            <h4>Підготовка до міжнародних іспитів</h4>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
            Для кого: для тих, хто планує навчання за кордоном, імміграцію чи кар’єрний розвиток.
        </div>
        <a href="#" class="btn toggle-pop-up" data-service="service1">Подати заявку</a>
    </div>
</div>