    <div id="pop-up-success">Спасибо за заявку</div>
    <footer>
        <div class="footer-content container">

                <a href="/" class="place-for-logo">
                    <svg class="logo" height="40" width="148"><use xlink:href="#logo"></use></svg>          
                </a>

                {{ menu }}
        </div>
    
    </footer>
    {{ wp_footer }}
    </body>
</html>