    <footer>

        <div class="footer-content container">

                <a href="/" class="place-for-logo">
                    <svg class="logo" height="40" width="148"><use xlink:href="#logo"></use></svg>          
                </a>

                <ul id="main-menu-desktop" class="main-menu"><li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243"><a href="https://skyinvest.farm/about-us/">Про нас</a></li>
                    <li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href="https://skyinvest.farm/soczialni-programy/">Соціальні програми</a></li>
                    <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="https://skyinvest.farm/bonusy/">Програма лояльності</a></li>
                    <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="https://skyinvest.farm/kontakty/">Контакти</a></li>
                    <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="https://skyinvest.farm/vakansiyi/">Вакансії</a></li>
                </ul>
        </div>
    
    </footer>
    {{ wp_footer }}
    </body>
</html>