<!-- header.twig -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {{ wp_head }}
</head>
<body>
    <header class="container">
        <div class="header-content">

            <a href="/" class="place-for-logo">
                <svg class="logo" height="40" width="148"><use xlink:href="#logo"></use></svg>          
            </a>

            
            <div class="desktop">
               {{ menu }}
             </div>


            <div class="mobile">
               <nav class="main-nav hamburger-menu">
                <!--   элемент, по которому юзер будет кликать  -->
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <div class="menu__box">
                    {{ menu }}
                </div>
                </nav>
            </div>

        </div>
    </header>
