{% include 'header.twig' %}

<main>


<div class="hero-content">
    <div class="container">
        <div class="half-part">
            <h1>Опановуйте Мову легко та ефективно!</h1>
            <p class="sub-title">За 2 місяці покращите рівень та отримаєте сертифікат</p>
            <a href="#" class="btn toggle-pop-up">Кнопка CTA</a>
        </div>
    </div>
</div>


{% include 'englishBlock.twig' %}


{% include 'mainContactForm.twig' %}

{% include 'popUpContactForm.twig' %}


</main>

{% include 'footer.twig' %}
