{% include 'header.twig' %}

<main>

<div class="hero-content" style="background-image: url('{{ images['hero-banner'] }}');">
    <div class="container">
        <div class="half-part">
            <h1>{{ title }}</h1>
            <p class="sub-title">{{ descriptiont }}</p>
            <a href="#" class="btn toggle-pop-up">Кнопка CTA</a>
        </div>
    </div>
</div>


{% include 'englishBlock.twig' %}


{% include 'mainContactForm.twig' %}

{% include 'popUpContactForm.twig' %}


</main>

{% include 'footer.twig' %}
